* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  font-family: 'Roboto', sans-serif;
}

.header-setup {
  background-color: #0c325a;
}

.nav-setup {
  width: 80%;

}

.container {
  width: 80%;
  margin: 0 auto;
}



nav ul li{
  display: inline-block;
}

nav ul li:first-child{
  padding-right: 40px;
}

nav ul li a{
  text-decoration: none;
  color: white;
  padding-right: 20px;
}

#right-fix {
  margin-right: 90px;
}

nav ul li:last-child {
  margin-left: 40px;
}

.button-login {
  background-color: #0c325a;
  border: 1px solid white;
  color: white;
  width: 100px;
  height: 30px;
  border-radius: 5px;
}

.button-structure {
  width: 150px;
  height: 30px;
  background-color: #7cbb02;
  border-radius: 5px;
  color: white;
}

.background {
  height: 300px;
  background-image: url(../img/background-header.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: right;
  position: relative;
}

.title {
  width: 50%;
  font-size: 20px;
  position: absolute;
  bottom: 50%;
  left: 0;
  color: white;
}

#fix2 {
height: 50px;
position: absolute;
margin-top: 2%;
}

.section1-setup {
background-color: #d3d3d3;
}

section div h2 {
  text-align: center;
  padding-top: 2%;
}

section div h3, section div p{
  text-align: center;
  padding-top: 0.5%;
  color: #808080;
  padding-bottom: 2%;
}

.section2-setup {
  text-align: center;
}

.clearfix:after{
  content: '';
  display: table;
  clear: both;
}

.image {
  margin-top: 3%;
  width: auto;
  height: 150px;
}

.float {
  float: left;
}

.aside {
  width: 32%;
}

.float h3 {
  color: #7cbb02;
  font-size: 32px;
}

.line {
  width: 20%;
  margin: 2% auto;
}

.hr {
  border-top: 1px solid #d3d3d3;
}

.margin-up-and-down {
  margin: 2% 0;
}

.image2 {
  height: 400px;
}

#fix3 {
  width: 60%;
  text-align: left;
  color: black;
}

#fix4 {
  width: 60%;
  text-align: left;
  font-size: 20px;
  margin-bottom: 2%;
}

.center {
  width: 32%;
  margin: 0 2%;
}


.left {
  width: 49%;
}

.right {
  margin-left: 2%;
  text-align: left;
}

.relative {
  height: 100px;
  position: relative;
}

.text-footer {
  position: absolute;
  top: 50%;
  left: 15%;
  transform: translate(-50%, -50%);
}

.selection-footer {
  position: absolute;
  right: 8%;
  top: 50%;
  transform: translate(-50%, -50%);
}
